<div class="card-header">
    <h3>Funcionarios
        <button class="text-right btn btn-outline-info btn-lg mr-0" (click)="add()">
            <i class="fas fa-plus-circle"></i>
        </button>
    </h3>
</div>

<table class="table table-striped table-hover table-bordered col
-centered">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Email</th>
            <th class="text-center">Função</th>
            <th class="text-center">Departamento</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let funcionario of funcionario$ | async">
            <td class="text-center">{{funcionario.nome}}</td>
            <td class="text-center">{{funcionario.email}}</td>
            <td class="text-center">{{funcionario.funcao}}</td>
            <td class="text-center">{{funcionario.departamento?.nome }}</td>
            <td class="text-center">
                <button type="button" (click)="selecionarFuncionario(funcionario)" class="btn btn-success ">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" (click)="delete(funcionario)" class="btn btn-danger ">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<p-dialog [(visible)]="funcionario" [modal]="true">
    <p-header>
        Dados do Departamento
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="form.value">

        <form [formGroup]="form">
            <div>
                <label for="ocorrencia">Nome</label>
                <input type="text" pInputText formControlName="nome" />
            </div>
            <div>
                <label for="ocorrencia">Email</label>
                <input type="email" pInputText formControlName="email" />
            </div>
            <div>
                <label for="ocorrencia">Funcao</label>
                <input type="text" pInputText formControlName="funcao" />
            </div>
            <div>
                <label for="ocorrencia">Departamento</label>
                <!-- <input type="text" pInputText formControlName="departamento" /> -->
                <p-dropdown [options]="departamentos$ | async" formControlName="departamento" optionLabel="nome"
                    name="nome" dataKey="nome" placeholder="teste"></p-dropdown>

            </div>
        </form>

    </div>
    <p-footer>
        <div *ngIf="form.controls['nome'].errors || form.controls['email'].errors || form.controls['departamento'].errors"
            class="text-left text-warning">
            Preenchimento obrigatorio
        </div>
        <button [disabled]="!form.valid" type="button" class="btn btn-primary" (click)="saveForm()">
            <i class="fas fa-check-circle"></i> {{edit ? 'Atualizar' : 'Salvar'}}
        </button>
    </p-footer>
</p-dialog>