<p-dialog header="Movimentações" [(visible)]="displayDialogMovimentacoes" (onHide)="onClose()" [modal]="true">

    <table class="table table-striped table-hover table-bordered col-centered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Data</th>
                <th class="text-center">Funcionario</th>
                <th class="text-center">Status</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movimento of movimentacoes, index as i">
                <td class="text-center">{{movimento.dataHora.seconds * 1000 | date : 'dd/MM/yyyy HH:mm'}}</td>
                <td class="text-center">{{movimento.funcionario.nome}}</td>
                <td class="text-center">{{!movimento.status?.label ? 'Aberto' : movimento.status.label}}</td>
                <td class="text-center">
                    <div *ngIf="funcionarioLogado.email === movimento.funcionario.email">
                        <button type="button" (click)="selecionaMovimento(movimento,i)" class="btn btn-success">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" (click)="delete(movimento)" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</p-dialog>

<p-dialog [(visible)]="displayDialogMovimentacao" [modal]="true">
    <p-header>
        Dados da Requisição
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="form.value">

        <div class="mb-3">
            <label for="solicitante">Solicitante: </label>
            {{requisicaoSelecionada?.solicitante.nome}}
        </div>
        <div class="mb-3">
            <label for="solicitacao">Solicitação:</label>
            <textarea rows="5" cols="30" disabled pInputTextarea [value]="requisicaoSelecionada?.descricao"></textarea>
        </div>
        <form [formGroup]="form">
            <div class="mb-3">
                <label for="status">Status*:</label>
                <p-dropdown [options]="listaStatus" formControlName="status" optionLabel="label" name="label"
                    placeholder="Selecione o status">
                </p-dropdown>
            </div>
            <div class="mb-3">
                <label for="descricao">Descricao*:</label>
                <textarea rows="5" cols="30" pInputTextarea formControlName="descricao"></textarea>
            </div>
        </form>
    </div>
    <p-footer>
        <div *ngIf="form.controls['status'].errors || form.controls['descricao'].errors"
            class="text-warning text-left ">
            *Preenchimento Obrigatório</div>
        <button [disabled]="!form.valid" type="button" class="btn btn-primary" (click)="update()">
            <i class="fas fa-check-circle"></i> {{edit ? 'Atualizar' : 'Salvar'}}
        </button>
    </p-footer>
</p-dialog>